<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div th:replace="template :: navigation"></div>
	<h1>Blogz: New Post</h1>
	
	<form method="post">
	    <label>
	        <div>title</div>
	        <input type="text" name="title" th:value="${title}"></input>
	    </label>
	    <div class="error" th:text="${error1}"></div>
	    <label>
	        <div>post</div>
	        <textarea name="body" th:text="${body}"></textarea>
	    </label>
	    <div class="error" th:text="${error2}"></div>
	    <button type="submit">Create</button>
	</form>

</body>
</html>